## Back-end settings

In [1]:
import sys
sys.path.append('../Custom Library/') 
import datetime as dt
import HR_Analytics as hr
import pandas as pd

In [2]:
engine = hr.setEngine('credentials','BIHRDW')

## Step 0		
## Representation by Career Level

## Data Period: Between April 1, 2019, and March 31, 2020 
### Q1. Total number of intern/co-op U.S. technical employees (each employee should be measured in one and only one category):

In [3]:
# add query result to data frame
interns = hr.externalQuery('intern co-op us tech',engine)

#drop duplicates
interns = interns.drop_duplicates(subset=['Worker ID'])

# count and group by gender
interns.groupby("Gender Code").count()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1705, in _execute_context
    self.dialect.do_execute(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 692, in do_execute
    cursor.execute(statement, parameters)
pyodbc.ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'HP_WORKER_DATA'. (208) (SQLExecDirectW)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\garciand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-742127ffffea>", line 2, in <module>
    interns = hr.externalQuery('intern co-op us tech',engine)
  File "../Custom Library\HR_Analytics.py", line 27, in externalQuery
    return pd.read_sql_query(query,engine)
  File "C:\Users\garciand\Anaconda3\lib\site-packages\pandas\io\sql.py", line 377, in read_sql_query
    return pandas_sql.read_query(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\pandas\io\sql.py", line 1294, in read_query
    result = self.execute(*args)
  File "C:\Users\garciand\Anaconda3\lib\site-packages\pandas\io\sql.py", line 1162, in execute
    return self.connectable.execution_options().execute(*args, **kwargs)
  File "<string>", line 2, in execute
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 390, in warned
    return fn(*args, **kwargs)
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3037, in execute
    return connection.execute(statement, *multiparams, **params)
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1185, in execute
    return self._exec_driver_sql(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1484, in _exec_driver_sql
    ret = self._execute_context(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1748, in _execute_context
    self._handle_dbapi_exception(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1929, in _handle_dbapi_exception
    util.raise_(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\util\compat.py", line 211, in raise_
    raise exception
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1705, in _execute_context
    self.dialect.do_execute(
  File "C:\Users\garciand\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 692, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.ProgrammingError: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'HP_WORKER_DATA'. (208) (SQLExecDirectW)")
[SQL: Select Distinct
    HWD.[Worker ID],
    Case
    When
        HWD.[Gender Code] Is Null Then 'U'
    Else
        HWD.[Gender Code]
    End As [Gender Code]

From
    HP_WORKER_DATA As HWD
Left Join
    TECH_JOBS_FAM As TT on TT.[Job Family Code] = HWD.[Job Family Code]
Where
    HWD.[Report Date] Between '2019-04-01' And '2020-03-31'
And
    HWD.[Job Family] Like 'College'
And
   HWD.[Job Title] Like '%Intern Tech%'
And
    HWD.[Pay Group Country Desc] Like 'United States of America']
(Background on this error at: http://sqlalche.me/e/14/f405)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\garciand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ProgrammingError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\garciand\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\garciand\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\garciand\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\garciand\Anaconda3\lib\inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\garciand\Anaconda3\lib\inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\garciand\Anaconda3\lib\inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\garciand\Anaconda3\lib\inspect.py", line 751, in getmodule
    f = getabsfile(module)
  File "C:\Users\garciand\Anaconda3\lib\inspect.py", line 720, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "C:\Users\garciand\Anaconda3\lib\inspect.py", line 705, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\garciand\Anaconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

## Data Period: As of March 31, 2020
### Q2. Total number of entry level U.S. technical employees (each employee should be measured in one and only one category)

In [4]:
# add query result to data frame
entry = hr.externalQuery('entry level us tech',engine)

hr.exportData(entry,'test', 'data')

# count and group by gender
entry.groupby("Gender Code").count()

             Worker ID
Gender Code
F                   65
M                  129

### Q3. Total number of mid-level U.S. technical employees (each employee should be measured in one and only one category)

In [5]:
# add query result to data frame
mid = hr.externalQuery('mid level us tech',engine)

# count and group by gender
mid.groupby("Gender Code").count()

             Worker ID
Gender Code
F                  121
M                  282

### Q4. Total number of senior level U.S. technical employees (each employee should be measured in one and only one category)

In [6]:
# add query result to data frame
senior = hr.externalQuery('senior level us tech',engine)

# count and group by gender
senior.groupby("Gender Code").count()

             Worker ID
Gender Code
F                   25
M                  120

### Q5. Total number of executive level U.S. technical employees (each employee should be measured in one and only one category)

In [7]:
# add query result to data frame
exe = hr.externalQuery('exe level us tech',engine)

# count and group by gender
exe.groupby("Gender Code").count()

             Worker ID
Gender Code
F                    6
M                   13

## Hiring
## Data Period: Between April 1, 2019, and March 31, 2020

### Q6. Total number (excluding interns) of new U.S. technical employees hired (each employee should be measured in one and only one category):

In [8]:
# add query result to data frame
hire = hr.externalQuery('hiring us tech',engine)

# count and group by gender
hire.groupby("Gender Code").count()

             Worker ID
Gender Code
F                  106
M                  391

## Retention
## Data Period: Between April 1, 2019, and March 31, 2020

### Q7. Total Attrition - Total number (excluding interns) of U.S. technical employees who left the company (each employee should be measured in one and only one category):

In [9]:
# add query result to data frame
attrit = hr.externalQuery('attrition us tech',engine)

# count and group by gender
attrit.groupby("Gender Code").count()

             Worker ID
Gender Code
F                   56
M                  254
U                    1

## Advancement
## Data Period: Between April 1, 2019, and March 31, 2020

### Q8. (+*) Total Promotion - Total number (excluding interns) of U.S. technical employees who were promoted (each employee should be measured in one and only one category):

In [10]:
# add query result to data frame
mov = hr.externalQuery('promotion us tech',engine)

# count and group by gender
mov.groupby("Gender Code").count()

             Worker ID
Gender Code
F                  136
M                  333

## Additional Metrics						
## Data Period: Between April 1, 2019, and March 31, 2020

### Q9. Average number (excluding interns) of U.S. technical employees across all levels who are men

In [11]:
# add query result to data frame
avgM = hr.externalQuery('avg male us tech',engine)

round(avgM["Male Count"].mean())

5301

### Q10. Average number (excluding interns) of U.S. technical employees across all levels who are women

In [12]:
# add query result to data frame
avgF = hr.externalQuery('avg female us tech',engine)

round(avgF["Female Count"].mean())

1125

## Step 1
## REPRESENTATION METRICS

## Data Period: Between January 1, 2020 - December 31, 2020  
### Q1. <em>Internship/co-op</em> Total number of intern/co-op U.S. technical employees (each employee should be measured in one and only one category):

In [3]:
# add query result to data frame
ethInt = hr.externalQuery('ethnicity intern co-op us tech',engine)

# Pivot Data and Fill NA with 0
pivethInt = ethInt.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

# output
pivethInt

Gender Code                                            F      M    U
Ethnicity
American Indian/Alaska Native (United States of...   2.0    3.0  0.0
Asian (United States of America)                    28.0   53.0  0.0
Black/African American (United States of America)    4.0    8.0  0.0
Hispanic/Latino (United States of America)          12.0   11.0  0.0
I choose not to disclose (United States of Amer...   2.0    5.0  1.0
Two or More Races (United States of America)         7.0    9.0  0.0
Unknown                                              0.0    2.0  0.0
White (United States of America)                    71.0  103.0  0.0

In [6]:
hr.exportData(ethInt,"Test","Data")

## Data Period: As of December 31, 2020 
### Q2. <em>Entry Level</em> Total number of entry level U.S. technical employees (each employee should be measured in one and only one category):

In [32]:
# add query result to data frame
ethEnt = hr.externalQuery('ethnicity entry co-op us tech',engine)

# Pivot Data and Fill NA with 0
pivethEnt = ethEnt.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivethEnt['Total'] = pivethEnt['F'] + pivethEnt['M'] 

# output
pivethEnt

Gender Code                                            F     M  Total
Ethnicity
Asian (United States of America)                    15.0  15.0   30.0
Black/African American (United States of America)    3.0   4.0    7.0
Hispanic/Latino (United States of America)           4.0  15.0   19.0
I choose not to disclose (United States of Amer...   0.0   1.0    1.0
Two or More Races (United States of America)         2.0   8.0   10.0
White (United States of America)                    28.0  53.0   81.0

## Data Period: As of December 31, 2020 
### Q3. <em>Mid-Level</em> Total number of mid-level U.S. technical employees (each employee should be measured in one and only one category):

In [34]:
# add query result to data frame
ethMid = hr.externalQuery('ethnicity mid co-op us tech',engine)

# Pivot Data and Fill NA with 0
pivethMid = ethMid.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivethMid['Total'] = pivethMid['F'] + pivethMid['M']

# output
pivethMid

Gender Code                                            F      M  Total
Ethnicity
American Indian/Alaska Native (United States of...   0.0    1.0    1.0
Asian (United States of America)                    33.0   43.0   76.0
Black/African American (United States of America)    2.0   10.0   12.0
Hispanic/Latino (United States of America)           7.0   24.0   31.0
I choose not to disclose (United States of Amer...   5.0    7.0   12.0
Native Hawaiian/Oth Pac Island (United States o...   1.0    0.0    1.0
Two or More Races (United States of America)         7.0   12.0   19.0
Unknown                                              5.0   16.0   21.0
White (United States of America)                    67.0  161.0  228.0

## Data Period: As of December 31, 2020 
### Q4. <em>Senior Level</em> Total number of senior level U.S. technical employees (each employee should be measured in one and only one category):

In [35]:
# add query result to data frame
ethSen = hr.externalQuery('ethnicity senior us tech',engine)

# Pivot Data and Fill NA with 0
pivethSen = ethSen.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivethSen['Total'] = pivethSen['F'] + pivethSen['M'] + pivethSen['U']

# output
pivethSen

Gender Code                                           F     M    U  Total
Ethnicity
American Indian/Alaska Native (United States of...  0.0   4.0  0.0    4.0
Asian (United States of America)                    1.0   5.0  0.0    6.0
Black/African American (United States of America)   0.0   5.0  1.0    6.0
Hispanic/Latino (United States of America)          8.0  22.0  0.0   30.0
I choose not to disclose (United States of Amer...  0.0   5.0  0.0    5.0
Native Hawaiian/Oth Pac Island (United States o...  0.0   1.0  0.0    1.0
Two or More Races (United States of America)        0.0   2.0  0.0    2.0
Unknown                                             3.0   7.0  0.0   10.0
White (United States of America)                    9.0  68.0  0.0   77.0

## Data Period: As of December 31, 2020 
### Q5. <em>Executive Level</em> Total number of executive level U.S. technical employees (each employee should be measured in one and only one category):

In [37]:
# add query result to data frame
ethExe = hr.externalQuery('ethnicity exe co-op us tech',engine)

# Pivot Data and Fill NA with 0
pivethExe = ethExe.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivethExe['Total'] = pivethExe['F'] + pivethExe['M'] 

# output
pivethExe

Gender Code                                           F     M  Total
Ethnicity
American Indian/Alaska Native (United States of...  1.0   0.0    1.0
Asian (United States of America)                    1.0   1.0    2.0
I choose not to disclose (United States of Amer...  0.0   1.0    1.0
White (United States of America)                    3.0  13.0   16.0

## STEP 2. CURRENT YEAR REPRESENTATION CONTINUED

## HIRING
## Data Period: Between January 1, 2020 - December 31, 2020  
### Q.1 Total number (excluding interns) of new U.S. technical employees hired

In [43]:
queryHire = """
declare @FYStart date = '2019-10-31'

Select Distinct
    HWD.[Worker ID],
    Case
    When 
        HWD.[Gender Code] Is Null Then 'U'
    Else
        HWD.[Gender Code]
    End As [Gender Code],
    HWD.[Ethnicity]
From 
	HP_WORKER_DATA As HWD
Left Join 
    TECH_JOBS_FAM As TT on TT.[Job Family Code] = HWD.[Job Family Code]
Where 
	HWD.[Report Date] Between '2020-01-01' And '2020-12-31' 
And 
    HWD.[Job Family] Not Like 'College'
And
    Case
	When 
        TT.[Job Family Code] 
    Is Null Then
        'No'
	Else 
        'Yes'
	End Like 'Yes'
And
    HWD.[Pay Group Country Desc] Like 'United States of America'
And 
	Case
		When HWD.[Original Hire Date] > @FYStart or HWD.[Hire Date] > @FYStart then 'Yes'
		Else 'No'
	End Like 'Yes' 
"""

techHire = hr.internalQuery(queryHire,engine)

# Pivot Data and Fill NA with 0
pivTechHire = techHire.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivTechHire['Total'] = pivTechHire['F'] + pivTechHire['M'] + pivTechHire['U']

# output
pivTechHire

Gender Code                                            F      M    U  Total
Ethnicity
American Indian/Alaska Native (United States of...   1.0    0.0  0.0    1.0
Asian (United States of America)                    25.0   49.0  0.0   74.0
Black/African American (United States of America)    0.0   13.0  1.0   14.0
Hispanic/Latino (United States of America)           2.0   20.0  0.0   22.0
I choose not to disclose (United States of Amer...   3.0    4.0  1.0    8.0
Two or More Races (United States of America)         0.0   10.0  0.0   10.0
Unknown                                              0.0    1.0  1.0    2.0
White (United States of America)                    20.0  115.0  0.0  135.0

## RETENTION
## Data Period: Between January 1, 2020 - December 31, 2020  
Q2. Total number (excluding interns) of U.S. technical employees who left the company

In [44]:
queryAtt = """
Select Distinct
	HWD.[Worker ID],
    Case
    When 
        HWD.[Gender Code] Is Null Then 'U'
    Else
        HWD.[Gender Code]
    End As [Gender Code],
    HWD.[Ethnicity]
From 
	HP_WORKER_DATA As HWD
Inner Join 
    HP_ATTRITION AS TD On TD.[Report Date] = HWD.[Report Date] 
And 
    HWD.[Worker ID] = TD.[Worker ID]
And 
    HWD.[Attrition Type] = 'Voluntary'
Left Join 
    TECH_JOBS_FAM As TT on TT.[Job Family Code] = HWD.[Job Family Code]
Where 
	HWD.[Termination Date] Between '2020-01-01' And '2020-12-31'
And 
    HWD.[Job Family] Not Like 'College'
And
    Case
	When 
        TT.[Job Family Code] 
    Is Null Then
        'No'
	Else 
        'Yes'
	End Like 'Yes'
And
    HWD.[Pay Group Country Desc] Like 'United States of America'     
"""

techAtt = hr.internalQuery(queryHire,engine)

# Pivot Data and Fill NA with 0
pivtechAtt = techAtt.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivtechAtt['Total'] = pivtechAtt['F'] + pivtechAtt['M'] + pivtechAtt['U']

# output
pivtechAtt

Gender Code                                            F      M    U  Total
Ethnicity
American Indian/Alaska Native (United States of...   1.0    0.0  0.0    1.0
Asian (United States of America)                    25.0   49.0  0.0   74.0
Black/African American (United States of America)    0.0   13.0  1.0   14.0
Hispanic/Latino (United States of America)           2.0   20.0  0.0   22.0
I choose not to disclose (United States of Amer...   3.0    4.0  1.0    8.0
Two or More Races (United States of America)         0.0   10.0  0.0   10.0
Unknown                                              0.0    1.0  1.0    2.0
White (United States of America)                    20.0  115.0  0.0  135.0

## ADVANCEMENT
## Data Period: Between January 1, 2020 - December 31, 2020 
### Q3. Data Period: Between January 1, 2020 - December 31, 2020

In [5]:
queryPromo = """
Select  Distinct   
	HWD1.[Worker ID],
    Case
    When 
        HWD1.[Gender Code] Is Null Then 'U'
    Else
        HWD1.[Gender Code]
    End As [Gender Code],
    HWD1.[Ethnicity]
From 
	HC_TRACK_CHANGES As HTC
	Inner Join JOB_MOVES As JM On JM.[Move Type] = HTC.[ChangeSubCategory]
	Left Join HP_WORKER_DATA As HWD1 On HWD1.[Report Date] = HTC.[ReportDate] And HWD1.[Worker ID] = HTC.EmployeeID
	Left Join HP_WORKER_DATA As HWD2 On HWD2.[Report Date] = HTC.[PreviousReportDate] And HWD2.[Worker ID] = HTC.EmployeeID
	Left Join TECH_JOBS_FAM AS TJ1 On TJ1.[Job Family] = HWD1.[Job Family]
	Left Join TECH_JOBS_FAM As TJ2 On TJ2.[Job Family] = HWD2.[Job Family]
Where 
	HTC.ReportDate Between '2020-01-01' And '2020-12-31'
And 
    HWD1.[Job Family] Not Like 'College'
And     
	HTC.[ChangeDescription] Like '%Promotion%'
And
    Case
	When 
        TJ1.[Job Family Code] 
    Is Null Then
        'No'
	Else 
        'Yes'
	End Like 'Yes'
And
    HWD1.[Pay Group Country Desc] Like 'United States of America'    
"""

techPromo = hr.internalQuery(queryPromo,engine)

# Pivot Data and Fill NA with 0
pivtechAtt = techPromo.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivtechAtt['Total'] = pivtechAtt['F'] + pivtechAtt['M'] 

# output
pivtechAtt

Gender Code                                            F      M  Total
Ethnicity
American Indian/Alaska Native (United States of...   0.0    4.0    4.0
Asian (United States of America)                    25.0   37.0   62.0
Black/African American (United States of America)    3.0    9.0   12.0
Hispanic/Latino (United States of America)          11.0   18.0   29.0
I choose not to disclose (United States of Amer...   2.0    5.0    7.0
Native Hawaiian/Oth Pac Island (United States o...   0.0    1.0    1.0
Two or More Races (United States of America)         2.0    9.0   11.0
Unknown                                              6.0   12.0   18.0
White (United States of America)                    50.0  187.0  237.0

## BOARD DIVERSITY					
## Data Period: As of December 31, 2020  
### Q4. Total number of individuals on your companys Board of Directors

## ADDITIONAL METRICS					
## Data Period: As of December 31, 2020  
### Q5. Total number (excluding interns) of technical and non-technical U.S. employees

In [8]:
queryHire = """
Select Distinct
    HWD.[Worker ID],
    Case
    When 
        HWD.[Gender Code] Is Null Then 'U'
    Else
        HWD.[Gender Code]
    End As [Gender Code],
    HWD.[Ethnicity]
From 
	HP_WORKER_DATA As HWD
Where 
	HWD.[Report Date] Like '2020-12-31' 
And
    [Worker Reg / Temp Code] = N'R' 
And 
	[Worker Status Category Code] = N'A' 
And
    HWD.[Job Family] Not Like 'College'
And
    HWD.[Pay Group Country Desc] Like 'United States of America' 
"""

techHire = hr.internalQuery(queryHire,engine)

# Pivot Data and Fill NA with 0
pivTechHire = techHire.pivot_table(index='Ethnicity', columns='Gender Code', values='Worker ID', aggfunc=pd.Series.nunique).fillna(0)

#Add Total for validation
pivTechHire['Total'] = pivTechHire['F'] + pivTechHire['M'] + pivTechHire['U']

# output
pivTechHire

Gender Code,F,M,U,Total
Ethnicity,,,,
American Indian/Alaska Native (United States of America),15.0,45.0,0.0,60.0
Asian (United States of America),555.0,956.0,0.0,1511.0
Black/African American (United States of America),156.0,303.0,1.0,460.0
Hispanic/Latino (United States of America),388.0,689.0,1.0,1078.0
I choose not to disclose (United States of America),77.0,251.0,3.0,331.0
Native Hawaiian/Oth Pac Island (United States of America),7.0,9.0,0.0,16.0
Two or More Races (United States of America),72.0,169.0,2.0,243.0
Unknown,188.0,372.0,0.0,560.0
White (United States of America),2252.0,5062.0,3.0,7317.0

## Data Period: As of December 31, 2020  
### Q.6 Total number (excluding interns) of global technical employees:

In [15]:
queryHire = """
Select Distinct
    HWD.[Worker ID],
    Case
    When 
        HWD.[Gender Code] Is Null Then 'U'
    Else
        HWD.[Gender Code]
    End As [Gender Code],
    HWD.[Ethnicity]
From 
	HP_WORKER_DATA As HWD
Left Join 
    TECH_JOBS_FAM As TT on TT.[Job Family Code] = HWD.[Job Family Code]
Where 
	HWD.[Report Date] Like '2020-12-31' 
And
    [Worker Reg / Temp Code] = N'R' 
And 
	[Worker Status Category Code] = N'A' 
And
    HWD.[Job Family] Not Like 'College'
And
    Case
	When 
        TT.[Job Family Code] 
    Is Null Then
        'No'
	Else 
        'Yes'
	End Like 'Yes' 
"""

techHire = hr.internalQuery(queryHire,engine)

# Pivot Data and Fill NA with 0
techHire.groupby("Gender Code").count()

             Worker ID  Ethnicity
Gender Code
F                 4034       4034
M                14022      14022
U                   47         47

## Data Period: Between January 1, 2020 - December 31, 2020  
### Q7. Average  number (excluding interns) of U.S. technical employees across all levels who are men

In [16]:
queryHire = """
Select Distinct
    Count(HWD.[Worker ID]) As [Male Count]
     
From 
    HP_WORKER_DATA As HWD
Left Join 
    TECH_JOBS_FAM As TT on TT.[Job Family Code] = HWD.[Job Family Code]
Where 
    HWD.[Report Date] Between '2020-01-01' And '2020-12-31' 
And 
    HWD.[Job Family] Not Like 'College'
And
    Case
	When 
        TT.[Job Family Code] 
    Is Null Then
        'No'
	Else 
        'Yes'
	End Like 'Yes'
And
    [Worker Reg / Temp Code] = N'R' 
And 
	[Worker Status Category Code] = N'A' 
And 
     HWD.[Gender Code] Like 'M'
And
    HWD.[Pay Group Country Desc] Like 'United States of America'
Group By 
    HWD.[Report Date]
"""

avgM =  hr.internalQuery(queryHire,engine)

round(avgM["Male Count"].mean())

4308

## Data Period: Between January 1, 2020 - December 31, 2020  
### Q8. Average number (excluding interns) of U.S. technical employees across all levels who are women

In [17]:
queryHire = """
Select Distinct
    Count(HWD.[Worker ID]) As [Male Count]
     
From 
    HP_WORKER_DATA As HWD
Left Join 
    TECH_JOBS_FAM As TT on TT.[Job Family Code] = HWD.[Job Family Code]
Where 
    HWD.[Report Date] Between '2020-01-01' And '2020-12-31' 
And 
    HWD.[Job Family] Not Like 'College'
And
    Case
	When 
        TT.[Job Family Code] 
    Is Null Then
        'No'
	Else 
        'Yes'
	End Like 'Yes'
And
    [Worker Reg / Temp Code] = N'R' 
And 
	[Worker Status Category Code] = N'A' 
And 
     HWD.[Gender Code] Like 'F'
And
    HWD.[Pay Group Country Desc] Like 'United States of America'
Group By 
    HWD.[Report Date]
"""

avgM =  hr.internalQuery(queryHire,engine)

round(avgM["Male Count"].mean())

943

## Data Period: Between January 1, 2020 - December 31, 2020  
### Q9. Average number (excluding interns) of U.S. technical employees across all levels who are non-binary

In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm

df = pd.concat([pd.DataFrame(np.random.randint(0, 100, (10000000, 6))) for i in range(10)], ignore_index=True) 

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm.gui.tqdm`, `tqdm.notebook.tqdm`, optional kwargs, etc.)
tqdm.pandas(desc="ETL Extraction Progress")

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`
df.progress_apply(lambda x: x**2)
# can also groupby:
# df.groupby(0).progress_apply(lambda x: x**2)

ETL Extraction Progress: 100%|| 6/6 [01:29<00:00, 14.92s/it]

             0     1     2     3     4     5
0         2304   361   900  1024  7396   144
1         6400  9604  3249  7056  3721   400
2         1764  1936  7225    36  5929  2500
3         3025  6724  5329  2025  5625   900
4         6241   361  6084  1225  4900  5329
...        ...   ...   ...   ...   ...   ...
99999995  4356   324  2809  1764   256    81
99999996  1024   729  1764  5776  9604   256
99999997  7225  6889  3844  3364   400  1600
99999998  1849  9604   625  4624     9  1600
99999999   625  7225  4225  6400  1369  3721

[100000000 rows x 6 columns]