In [3]:
import sys
sys.path.append('../Custom Library/') 
import datetime as dt
import HR_Analytics as hr
import pandas as pd

In [4]:
# start postgress engine
engine = hr.setEngine('credentials','HRODS')

In [5]:
# headcount by gender get data
genderQuery = """
Select
    Count(*) As Headcount,
    "Gender Code"
From
    "HPW_DATA"
Where
    "Report Date" = '2020-10-31'
And
    "Pay Group Country Code" = 'USA'
And
    "Worker Reg / Temp Code" = 'R'
And
    "Worker Status Category Code" = 'A'
Group By
    "Gender Code"
"""

genderDF = hr.internalQuery(genderQuery, engine)

In [6]:
# headcount by gender data transformation
genderDF

   headcount Gender Code
0          1        None
1          9           U
2       7902           M
3       3705           F

In [7]:
# By Age
ageQuery = """
Select
    Count(*) As Headcount,
    Case
        When "Age" >= 55 Then '55 Years or Older'
        When "Age" >= 45 Then '45 to 54 Years'
        When "Age" >= 35 Then '35 to 44 Years'
        When "Age" >= 26 Then '26 to 34 Years'
        Else '25 Years or Younger'
    End As "Age Groups"
From
    "HPW_DATA"
Where
    "Report Date" = '2020-10-31'
And
     "Pay Group Country Code" = 'USA'
And
    "Worker Reg / Temp Code" = 'R'
And
    "Worker Status Category Code" = 'A'
Group By
    Case
        When "Age" >= 55 Then '55 Years or Older'
        When "Age" >= 45 Then '45 to 54 Years'
        When "Age" >= 35 Then '35 to 44 Years'
        When "Age" >= 26 Then '26 to 34 Years'
        Else '25 Years or Younger'
    End
"""

ageDF = hr.internalQuery(ageQuery, engine)

In [8]:
# headcount by age data transformation
ageDF

   headcount           Age Groups
0       1650       26 to 34 Years
1       2448       35 to 44 Years
2        360  25 Years or Younger
3       3202    55 Years or Older
4       3957       45 to 54 Years

In [69]:
# By Management Level
mgntQuery = """
Select
    "Worker ID",
    "Management Level",
    "Ethnicity",
    "Gender Code",
    "Sales Job Indicator",
    "Exempt"
From
    "HPW_DATA"
Where
    "Report Date" = '2020-10-31'
And
    "Pay Group Country Code" = 'USA'
And
    "Worker Reg / Temp Code" = 'R'
And
    "Worker Status Category Code" = 'A'
"""

mgntDF = hr.internalQuery(mgntQuery, engine)

In [70]:
#mgtDF = mgntDF.drop("Ethnicity", axis=1)
hr.exportData(mgntDF)