In [62]:
# libraries import
import HR_Library.HR_Analytics as hr
import datetime as dt
import numpy as np
import matplotlib.pyplot as pp
import pandas as pd
import seaborn
import datetime
import random

In [63]:
# start postgress engine
engine = hr.setEngine('credentials','HRODS')

In [64]:
# diversity data fetch
div_data = hr.externalQuery('DEI_New_HP', engine)

In [65]:
# data transformation
## format date field
div_data['Date'] = div_data['Report Date'].dt.strftime('%Y/%m/%d')
## remove unformatted date field
del div_data['Report Date']
## reorder formatted date column
col = div_data.pop('Date')
div_data.insert(0, col.name, col)
## rename date field
div_data = div_data.rename(columns={'Date': 'Report Date'})

# HP Worldwide Headcount

In [66]:
# HP Inc headcount
hp_hc = div_data.loc[div_data["Report Date"] >= "2020/10/31"].pivot_table(
    columns="Report Date", values="HC", aggfunc=pd.Series.sum
)
hp_hc.style.format("{:,}")

# US Headcount (Exempt)

In [67]:
# US Exempt headcount
use_hc = div_data.loc[
    (div_data["Report Date"] >= "2020/10/31")
    & (div_data["Pay Group Country Desc"] >= "United States of America")
    & (div_data["Is Professional"] >= "Yes")
].pivot_table(columns="Report Date", values="HC", aggfunc=pd.Series.sum)
use_hc.style.format("{:,}")

# US Headcount (All)

In [68]:
# US All headcount
usa_hc = div_data.loc[
    (div_data["Report Date"] >= "2020/10/31")
    & (div_data["Pay Group Country Desc"] >= "United States of America")
].pivot_table(columns="Report Date", values="HC", aggfunc=pd.Series.sum)
usa_hc.style.format("{:,}")

# % Worldwide Women

In [69]:
# % World wide women
ww_hc = div_data.loc[
    (div_data["Report Date"] >= "2020/10/31") & (div_data["Gender Code"] == "F")
].pivot_table(columns="Report Date", values="HC", aggfunc=pd.Series.sum) / div_data.loc[
    div_data["Report Date"] >= "2020/10/31"
].pivot_table(
    columns="Report Date", values="HC", aggfunc=pd.Series.sum
)
ww_hc.style.format("{:.1%}")

# % Women on Leadership

In [70]:
# % Women on Leadership
wl_hc = div_data.loc[
    (div_data["Report Date"] >= "2020/10/31")
    & (div_data["Gender Code"] == "F")
    & (div_data["Is Leader"] == "Yes")
].pivot_table(columns="Report Date", values="HC", aggfunc=pd.Series.sum) / div_data.loc[
    (div_data["Report Date"] >= "2020/10/31") & (div_data["Is Leader"] == "Yes")
].pivot_table(
    columns="Report Date", values="HC", aggfunc=pd.Series.sum
)
wl_hc.style.format("{:.1%}")

# % Women on Tech

In [71]:
# % Women on Tech
wt_hc = div_data.loc[
    (div_data["Report Date"] >= "2020/10/31")
    & (div_data["Gender Code"] == "F")
    & (div_data["Technical Job Family"] == "Yes")
].pivot_table(columns="Report Date", values="HC", aggfunc=pd.Series.sum) / div_data.loc[
    (div_data["Report Date"] >= "2020/10/31") & (div_data["Technical Job Family"] == "Yes")
].pivot_table(
    columns="Report Date", values="HC", aggfunc=pd.Series.sum
)
wt_hc.style.format("{:.1%}")