In [1]:
# Library import
import sys
sys.path.append('./HR_Library/') 
import datetime as dt
import get_data as gd

In [2]:
# init db engine
ods = gd.Get_Data(
    'postgres',
    'HRODS',
    'C:\\Users\\garciand/OneDrive - HP Inc\\Desktop\\Deliverables\\',
    'DEI',
    'C:\\Users\\garciand\\OneDrive - HP Inc\\Desktop\\Python_Analytics\\NoteBooks\\Queries\\',
    'C:\\Users\\garciand\\OneDrive - HP Inc\\Desktop\\ETL\\Input Data Sources\\DEI\\')

In [3]:
engine = ods.set_engine()

In [4]:
# query
query = """
SELECT 
        "Ethnicity",
        Count(*) AS "HC"
    FROM 
        "HPW_DATA"
    WHERE 
        "Report Date" = '{0}'
    AND 
        "Worker Reg / Temp Code" = 'R'
    AND 
        "Worker Status Category Code" = 'A'
    AND
        "Pay Group Country Code" = 'USA'
    AND 
        "Management Level Category" IN ('EXEC')
    GROUP BY 
        "Ethnicity"
"""

In [5]:
# report date
data_date = '2019-10-31'
# run query
data = ods.internal_query(query.format(data_date), engine)

# process data
data['%']  = round((data['HC'] / data['HC'].sum()) * 100,1).astype(str) + '%'
data.sort_values(by='Ethnicity',ascending=False)

                                           Ethnicity   HC      %
6                   White (United States of America)  150  69.4%
5                                            Unknown   14   6.5%
4       Two or More Races (United States of America)    2   0.9%
3  I choose not to disclose (United States of Ame...   10   4.6%
2         Hispanic/Latino (United States of America)   15   6.9%
1  Black/African American (United States of America)    6   2.8%
0                   Asian (United States of America)   19   8.8%

In [6]:
ods.export_data(data,"EcoVadis_Demographics","Yes")