In [1]:
# import libraries
import HR_Analytics as hr

In [2]:
# set db engine
engine = hr.setEngine('credentials','BIHRDW')

In [3]:
df = hr.externalQuery('DEI_data_query',engine)

## Veteran Population

In [19]:
vet = df[df['Veteran Status'] == 'Y']
vet = vet[vet['Pay Group Country Desc'] == 'United States of America']
vet = vet[vet['Report Date'] == vet['Report Date'].max()]
vet

,Report Date,Hybrid L1,Hybrid L2,Technical Job Family,Veteran Status,Pay Group Country Desc,Ethnicity Group,Gender Code,Is ProfessiOnal,Is New Hire,Management Level Category,HC,Voluntary Attrits
62,2021-04-30,HPIP,PHS,Yes,Y,United States of America,9_USA,M,Yes,No,MGR,1,0
91,2021-04-30,HPIP,PHS,No,Y,United States of America,WHITE_USA,M,No,No,NONE,2,0
176,2021-04-30,HPCS,CS1,No,Y,United States of America,WHITE_USA,M,Yes,No,MGR,2,0
478,2021-04-30,HPIT,TOF,No,Y,United States of America,UNK,M,Yes,No,PROF,1,0
664,2021-04-30,HPIB,PIN,No,Y,United States of America,NSPEC_USA,M,Yes,No,MGR,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37580,2021-04-30,HCCO,NA1,No,Y,United States of America,BLACK_USA,M,Yes,No,PROF,2,0
37621,2021-04-30,HCCO,NA1,No,Y,United States of America,ASIAN_USA,M,Yes,No,PROF,2,0
37675,2021-04-30,HCCO,SD1,No,Y,United States of America,HISPA_USA,M,Yes,No,PROF,1,0
37980,2021-04-30,HPIB,PIN,Yes,Y,United States of America,BLACK_USA,M,No,No,NONE,1,0
38389,2021-04-30,PSYS,CID,Yes,Y,United States of America,UNK,M,Yes,No,PROF,1,0

## US Population

In [22]:
us = df[df['Pay Group Country Desc'] == 'United States of America']
us = us[us['Report Date'] == us['Report Date'].max()]
us

,Report Date,Hybrid L1,Hybrid L2,Technical Job Family,Veteran Status,Pay Group Country Desc,Ethnicity Group,Gender Code,Is ProfessiOnal,Is New Hire,Management Level Category,HC,Voluntary Attrits
35,2021-04-30,HPIP,PFT,Yes,U,United States of America,WHITE_USA,M,Yes,Yes,PROF,3,0
51,2021-04-30,PSYS,SER,No,U,United States of America,ASIAN_USA,M,No,No,NONE,1,0
62,2021-04-30,HPIP,PHS,Yes,Y,United States of America,9_USA,M,Yes,No,MGR,1,0
72,2021-04-30,HPIT,ITO,No,U,United States of America,BLACK_USA,F,Yes,No,DIR,1,0
91,2021-04-30,HPIP,PHS,No,Y,United States of America,WHITE_USA,M,No,No,NONE,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39796,2021-04-30,HPCS,CS1,No,U,United States of America,WHITE_USA,F,Yes,No,PROF,0,1
39799,2021-04-30,HPCS,CS1,Yes,U,United States of America,HISPA_USA,M,No,No,NONE,0,1
39802,2021-04-30,HPIP,PHS,No,U,United States of America,WHITE_USA,M,Yes,No,MGR,0,1
39805,2021-04-30,OPER,SNL,No,U,United States of America,WHITE_USA,M,Yes,No,PROF,0,1
39806,2021-04-30,PSYS,SWE,Yes,U,United States of America,WHITE_USA,M,Yes,No,PROF,0,1

In [9]:
vetIndicator['US Veterans (%)'] = (vetIndicator['US Veteran Population'] / vetIndicator['US Population']).astype(float).map("{:.2%}".format)

In [10]:
vetIndicator

  Hybrid L1 Code  US Population  US Veteran Population US Veterans (%)
0           HPIT            428                     24           5.61%
1           HTMO             78                      3           3.85%
2            SBM             74                      5           6.76%

In [11]:
outputPath = 'C:/Users/garciand/OneDrive - HP Inc/Desktop/Ad-hoc Requests/'
fileName = 'veteran_population'
vetIndicator.to_excel(outputPath + fileName + '.xlsx', engine='xlsxwriter')