In [1]:
# import libraries
import pyodbc
import pandas as pd
import numpy as np

In [2]:
# fetch historical files.
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=ulloadia25;'
                      'Database=HRAnalytics;'
                      'Trusted_Connection=yes;')

# read query
queryPath = 'C:/Users/garciand/OneDrive - HP Inc/Desktop/Python/DEI_Query.sql'
with open(queryPath, 'r') as getQuery:
    query = getQuery.read()

In [3]:
# run query
df = pd.read_sql_query(query,conn)

In [17]:
df = df.sort_values(by="Report Date")
df.loc[df['Technical Job Family'] == "Yes"]
df.loc[df['Is New Hire'] == "Yes"]

,Report Date,Hybrid L1,Hybrid L2,Work Address - City,Technical Job Family,Business Lvl 4 (MRU) Code,Veteran Status,PWD Status,Pay Group Country Desc,Ethnicity Group,Gender Code,Is Professional,Is New Hire,Management Level Category,HC,Voluntary Attrits
175071,2020-11-30,HPCS,CS1,Other,No,Other,N,N,Other,Other,M,Yes,Yes,PROF,1,0
138873,2020-11-30,HCCO,SO1,Other,No,Other,N,N,Other,Other,F,Yes,Yes,PROF,1,0
341022,2020-11-30,SBM,PRO,Other,No,Other,N,N,Other,Other,F,Yes,Yes,PROF,1,0
248957,2020-11-30,HPCS,CS1,Other,Yes,Other,N,N,United States of America,ASIAN_USA,M,No,Yes,NONE,1,0
284867,2020-11-30,HPCS,CS1,Other,Yes,Other,N,U,Other,Other,F,Yes,Yes,PROF,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320004,2021-03-31,HCCO,GA1,Other,No,Other,N,N,Other,Other,U,Yes,Yes,PROF,1,0
238155,2021-03-31,HPCS,CS1,Other,No,Other,U,N,Other,Other,F,Yes,Yes,PROF,1,0
64424,2021-03-31,SBM,GRE,Other,No,Other,N,N,United States of America,WHITE_USA,F,Yes,Yes,PROF,1,0
160467,2021-03-31,HPIP,PFT,Other,Yes,Other,N,N,Other,Other,M,Yes,Yes,MGR,2,0
65023,2021-03-31,FIN,OPF,Other,No,Other,N,N,Other,Other,M,Yes,Yes,MGR,1,0

In [18]:
fdf.head()

,Report Date,Hybrid L1,Hybrid L2,Work Address - City,Technical Job Family,Business Lvl 4 (MRU) Code,Veteran Status,PWD Status,Pay Group Country Desc,Ethnicity Group,Gender Code,Is Professional,Is New Hire,Management Level Category,HC,Voluntary Attrits
0,2019-11-30,HPIP,GSB,Other,Yes,Other,Y,N,United States of America,WHITE_USA,M,No,No,NONE,15,0
1,2019-12-31,HPCS,CS1,Other,Yes,Other,U,N,United States of America,HISPA_USA,M,No,No,NONE,1,0
4,2018-07-31,OPER,SPN,Other,Yes,Other,U,N,United States of America,WHITE_USA,M,Yes,No,PROF,1,0
6,2018-07-31,HPIP,GSB,Other,Yes,Other,U,N,Other,Other,F,Yes,No,PROF,1,0
8,2019-09-30,HPCS,CS1,Other,Yes,Other,N,N,Other,Other,M,No,No,NONE,11,0